# Database connection string
DATABASE_URI=mongodb://127.0.0.1/your-database-name

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE


SMTP_HOST=smtp-relay.example.com
SMTP_PORT=587
SMTP_USER=your-smtp-user@example.com
SMTP_PASS=your-smtp-password


MINIO_BUCKET="your-minio-bucket"
MINIO_REGION="us-east-1"
MINIO_ACCESS_KEY_ID="your-minio-access-key or username"
MINIO_SECRET_ACCESS_KEY="your-minio-secret-key or password"
MINIO_ENDPOINT="https://your-minio-endpoint.com"

BREVO_SENDER_NAME="Your Name"
BREVO_SENDER_EMAIL="noreply@yourdomain.com"
BREVO_EMAILS_ACTIVE=true
BREVO_API_KEY="your-brevo-api-key"

RESEND_API_KEY="your-resend-api-key"